<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/dash.css">
		<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	</head>

	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">How Predictable</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Welcome, Brad</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<!-- Power Usage Context -->
		<div id="history-information" class="row">
			<div class="container">
				<div id="history-avg-wether" class="col-sm-4">
					<div class="col-sm-6">
						<img class="img-responsive" src="http://placehold.it/150x150" alt="">
					</div>
					<div class="col-sm-6">
						Last month, the weather was wet and cold
					</div>
				</div>
				<div id="history-avg-bill" class="col-sm-4">
					<div class="col-sm-6">
						<img class="img-responsive" src="http://placehold.it/150x150" alt="">
					</div>
					<div class="col-sm-6">
						Your power bill was $200
					</div> 
				</div>
				<div id="history-savings" class="col-sm-4">
					<div class="col-sm-6">
						<img class="img-responsive" src="http://placehold.it/150x150" alt="">
					</div>
					<div class="col-sm-6">
						You could of saved $2000000
					</div>
				</div>
			</div>
		</div>
		
		<div class="row graph-row">
			<div class="container">
				<div id="usage-graph" class="col-sm-8">
					<canvas id="graph"></canvas>
					<div class="power-packs">
						<div class="col-sm-4 text-center">
				      		<img class="img-responsive" src="http://placehold.it/200x100" alt="">
				      		<p class="lead">Feature One</p>
				      		<p>Etiam ultricies et orci tempor tristique. Maecenas id facilisis sem, vitae rutrum ex. Phasellus scelerisque est erat, ut bibendum leo tempor vel.</p>
				      	</div>
				      	<div class="col-sm-4 text-center">
				      		<img class="img-responsive" src="http://placehold.it/200x100" alt="">
				      		<p class="lead">Feature Two</p>
				      		<p>Etiam ultricies et orci tempor tristique. Maecenas id facilisis sem, vitae rutrum ex. Phasellus scelerisque est erat, ut bibendum leo tempor vel.</p>
				      	</div>
				      	<div class="col-sm-4 text-center">
				      		<img class="img-responsive" src="http://placehold.it/200x100" alt="">
				      		<p class="lead">Feature Three</p>
				      		<p>Etiam ultricies et orci tempor tristique. Maecenas id facilisis sem, vitae rutrum ex. Phasellus scelerisque est erat, ut bibendum leo tempor vel.</p>
				      	</div>
					</div>
				</div>
				
				<div id="future-information" class="col-sm-4">
					<div id="future-wether" class="col-sm-12">
					
					</div>
					
					<div id="take-action" class="col-sm-12">
						Take power of your power usage
					</div>
				</div>
			</div>
		</div>

		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/public/javascript/chart.js"></script>
		<script src="/public/javascript/dash.js"></script>
		<script src="/public/javascript/canvas-resize.js"></script>
	</body>

</html>