<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/dash.css">
		<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	</head>

	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">How Predictable</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Welcome, Brad</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<!-- Power Usage Context -->
		<div id="history-information">
			<div class="container">
				<div id="history-avg-wether" class="col-sm-4">
					<div class="col-sm-6">
						<img class="img-responsive" src="http://placehold.it/150x150" alt="">
					</div>
					<div class="col-sm-6">
						Last month, the weather was wet and cold
					</div>
				</div>
				<div id="history-avg-bill" class="col-sm-4">
					<div class="col-sm-6">
						<img class="img-responsive" src="http://placehold.it/150x150" alt="">
					</div>
					<div class="col-sm-6">
						Your power bill was $200
					</div> 
				</div>
				<div id="history-savings" class="col-sm-4">
					<div class="col-sm-6">
						<img class="img-responsive" src="http://placehold.it/150x150" alt="">
					</div>
					<div class="col-sm-6">
						You could have saved $2000000
					</div>
				</div>
			</div>
		</div>
		
		<div class="row graph-row">
			<div class="container">
				<div id="usage-graph" class="col-sm-8">
					<canvas id="graph"></canvas>
					<div class="power-packs">
						<div class="col-sm-4 text-center">
				      		<img class="img-responsive" src="http://placehold.it/200x100" alt="">
				      		<p class="lead">Power to the People Power Pack</p>
				      		<p>$25</p>
				      		<p>Get all the power you want for a price you can afford!</p>
				      	</div>
				      	<div class="col-sm-4 text-center">
				      		<img class="img-responsive" src="http://placehold.it/200x100" alt="">
				      		<p class="lead">Sweather Weather Power Pack</p>
				      		<p>$50</p>
				      		<p>A nice and cosy pack for the whole family.</p>
				      	</div>
				      	<div class="col-sm-4 text-center">
				      		<img class="img-responsive" src="http://placehold.it/200x100" alt="">
				      		<p class="lead">Harden Up Pill</p>
				      		<br>
				      		<p>$0</p>
				      		<p>Take a nice serving of concrete and harden up.</p>
				      	</div>
					</div>
				</div>
				
				<div id="future-information" class="col-sm-4">
					<div class="col-sm-12 future-weather">
						<p>Sunnier skies are ahead in the Wellington region.</p>
					</div>
					<div class="col-sm-12 take-action">
						<p>Power over spending and usage</p>
						<p>Take a look at your power usage and pick a plan according to the temperature.</p>
					</div>
					<div class="col-sm-12 last-bill">
						<p class="text-center"><img class="avatar img-responsive" src="http://placehold.it/150x150" alt=""></p>
						<p class="text-center">Brad</p>
						<p>299 Fake Street, Wellington, New Zealand</p>
						<p>Ut sit amet ante felis. Duis consequat ultricies laoreet. Integer mollis non dui et dignissim. Vivamus eget nibh arcu. Fusce at quam mollis, lacinia nisl in, scelerisque nisl. Ut ut elit fringilla, hendrerit justo id, eleifend lectus. Nam eu quam non magna venenatis luctus id eget leo.</p>
					</div>
				</div>
			</div>
		</div>

		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/public/javascript/chart.js"></script>
		<script src="/public/javascript/dash.js"></script>
		<script src="/public/javascript/api.js"></script>
		<script src="/public/javascript/canvas-resize.js"></script>
	</body>

</html>