<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/main.css">
		<link rel="stylesheet" type="text/css" href="/public/css/dash.css">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/index.html">Thunder <span class="glyphicon glyphicon-flash"></span></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class=" icon-lg glyphicon glyphicon-user"></span></a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<!-- Greeting -->
		<div class="row greet-row row-no-lr-margin">
			<div class="text-center">
				<p class="greet">Hey, Brad!</p>
				<p><span class="icon-lg glyphicon glyphicon-flash"></span></p>
			</div>
		</div>

		<!-- Power Usage Context -->
		<div id="history-information" class="text-center row-no-lr-margin">
			<div class="container">
				<div class="colour-class col-sm-4">
					<div class="col-sm-12">
						<img class="img-responsive" src="/public/img/raining-icon.png" alt="">
					</div>
					<div class="col-sm-12">
						Last week, the weather was horribly wet and cold in Wellington
					</div>
				</div>
				<div class="highlight-class col-sm-4">
				<div class="arrow-left visible-lg-block"></div>
					<div class="col-sm-12">
						<img class="img-responsive" src="/public/img/laundry.png" alt="">
					</div>
					<div class="col-sm-12">
						We see you used a lot of extra power — it was probably to get everything dry!
					</div> 
				</div>
				<div class="colour-class col-sm-4">
					<div class="arrow-left-highlight visible-lg-block"></div>
					<div class="col-sm-12">
						<img class="img-responsive" src="/public/img/piggy-bank.png" alt="">
					</div>
					<div class="col-sm-12">
						Use <strong>Thunder</strong> to see the weather ahead of time, choose a more suitable power pack and save $$$
					</div>
				</div>
			</div>
		</div>
		
		<div class="row usage-row text-center row-no-lr-margin">
			<p class="lead">Your Usage</p>
		</div>

		<div class="row tabs-row row-no-lr-margin">
			<div class="container">
				<div class="col-sm-2">
					<a href="#">Last Month</a>
				</div>
				<div class="offset-col-sm-2 sol-sm-2">
					<a href="#">Now</a>
				</div>
			</div>
		</div>

		<div class="row graph-row">
			<div class="container">
				<div class="legend">
					<div class="legend-section">
						<div class="legend-icon legend-icon-power"></div>
						Power
					</div>
					
					<div class="legend-section">
						<div class="legend-icon legend-icon-weather"></div>
						Weather
					</div>
				</div>
				
				<div id="usage-graph" class="col-sm-12">
					<canvas id="graph"></canvas>
				</div>
			</div>
		</div>

		<div class="row tabs-row text-center row-no-lr-margin">
			<div class="container">
				Use this graph to look back, compare and predict your power usage against the weather in your region.
			</div>
		</div>

		<div class="row row-no-lr-margin">
			<div class="container power-packs">
				<p class="lead text-center">Your usage suggests these power packs:</p>
				<div class="col-sm-4 text-center">
		      		<img class="img-responsive pack-img" src="/public/img/sword-3.png" alt="">
		      		<p class="lead title">Winter is Coming</p>
		      		<p class="recommended">Recommended for you</p>
		      		<p class="pack-text">Jon Snow said it and so does the forecast; purchase this pack to keep nice and toasty for the weather ahead.</p>
		      	</div>
		      	<div class="col-sm-4 text-center">
		      		<img class="img-responsive pack-img" src="/public/img/sweater.png" alt="">
		      		<p class="lead title">Sweater Weather</p>
		      		<br>
		      		<p class="pack-text">Pull out that knitted Christmas jumper and the wooly sock, because it might get cold! Choose this pack to save some $$</p>
		      	</div>
		      	<div class="col-sm-4 text-center">
		      		<img class="img-responsive pack-img" src="/public/img/pill2.png" alt="">
		      		<p class="lead title">Harden Up Pill</p>
		      		<br>
		      		<p class="pack-text">Eat some concrete and harden up, we wish you luck!</p>
		      	</div>
			</div>
		</div>

		<!-- Pricing -->
		<div class="row tabs-row text-center row-no-lr-margin">
			<div class="container">
				<div class="col-sm-4 price"><a>$50</a></div>
				<div class="col-sm-4 price"><a>$30</a></div>
				<div class="col-sm-4 price"><a>$0</a></div>
			</div>
		</div>

		<!-- Top Up -->
		<div class="row topup text-center row-no-lr-margin">
			<div class="container">
				Top Up
			</div>
		</div>

		<!-- Your Account -->
		<div class="row greet-row row-no-lr-margin">
			<div class="text-center">
				<p class="greet">Your Account</p>
				<p><span class="icon-lg glyphicon glyphicon-flash"></span></p>
			</div>
		</div>

		<!-- Account Details -->
		<div class="row row-no-lr-margin">
			<div class="container">
				<div class="col-sm-12 account">
					<div class="col-sm-6">
						<p class="pack-text"><span class="glyphicon glyphicon-user"></span> <span class="name">brad<span></p>
					</div>
					<div class="col-sm-6">
						<p class="pack-text">299 Fake Street, Newtown, Wellington, New Zealand</p>
					</div>
				</div>
				<div class="col-sm-12 account">
					<div class="col-sm-6">
						<p class="pack-text"><span class="glyphicon glyphicon-tags"></span> <span class="name">last bill: $200<span></p>
					</div>
					<div class="col-sm-6">
						<p class="pack-text">Predicted Savings: $50<span></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<div class="row footer-row row-no-lr-margin">
			<footer class="text-center">
				<div class="col-sm-12">
					<img class="img-responsive" src="/public/img/sot-and-powershop.png" alt="Summer of Tech 2015 and Powershop">
				</div>
				<div class="col-sm-12">
					<strong>A Summer of Tech</strong> 2015 Hackfest production by <strong>How Predictable</strong>
				</div>
			</footer>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/public/javascript/chart.js"></script>
		<script src="/public/javascript/dash.js"></script>
		<script src="/public/javascript/api.js"></script>
		<script src="/public/javascript/canvas-resize.js"></script>
	</body>

</html>