<html>

	<head>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/dash.css">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">How Predictable</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Login</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<!-- Login Form -->
		<div class="container">

          <form method="POST" action="dash.html" class="form-horizontal">

            <h1 class="text-center">Log in with Powershop</h1>

            <div class="col-sm-offset-3 col-sm-6">
              <div class="form-group form-group-lg">
                <div class="col-sm-12">
                  <input id="email" class="form-control input-lg" name="email"
                    placeholder="Email Address">
                </div>
              </div>

              <div class="form-group form-group-lg">
                <div class="col-sm-12">
                  <input id="password" class="form-control input-lg" name="password"
                    placeholder="Password">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-block btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Sign In
                    </button>
                </div>
              </div>
            </div>

          </form>
		</div>

		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="../javascript/chart.js"></script>
		<script src="../javascript/dash.js"></script>
		<script src="../javascript/canvas-resize.js"></script>
	</body>

</html>